
  <div class="card">
    <h5 class="card-header">Ondas Em Aberto</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let onda of ondas">
            <ng-container *ngIf="onda.status == 0">
              <th scope="row">{{ onda.id }}</th>
            <td><button type="button" class="btn btn-primary"[routerLink] = "['/nota',onda.id]">Dar Nota</button></td>
          </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Ondas Concluidas</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Número</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let onda of ondas">
            <ng-container *ngIf="onda.status == 1">
              <th scope="row">{{ onda.id }}</th>
          </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>