
<form [formGroup]="form">
    <div class="form-row"  >
      <div class="col-md-3 mb-3">
        <label for="">Bateria</label>
        <input type="text" class="form-control" formControlName="bateria" value="{{userId}}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="">Surfista</label>
        <select class="custom-select"  formControlName="surfista" id=""  required>
          <option selected disabled></option>
          <ng-container *ngFor="let surfista of surfistas" >
            <option value="{{ surfista.nome }}">{{ surfista.nome }}</option>
          </ng-container>
        </select>
      </div>
      
    </div>
    
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">Criar</button>
  </form>
