
<form [formGroup]="myForm">
    <div class="form-row"  >
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Bateria</label>
        <input type="text" class="form-control" id="validationCustom01"required>
        
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Bateria</label>
        <input type="text" class="form-control" value="{{userId}}" id="validationCustom02" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Surfista</label>
        <select class="custom-select" id="validationCustom04" required>
          <option selected disabled value=""></option>
          <option>...</option>
        </select>
      </div>
      
    </div>
    
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
