<div class="card">
  <h5 class="card-header"> Surfista: {{ surfista }}</h5>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="form-group col-2">
              <label for="">Nota Parcial 1</label>
              <input formControlName="nota1" type="number" class="form-control" id="" aria-describedby="" placeholder="">
            </div>
            <div class="form-group col-2">
              <label for="">Nota Parcial 2</label>
              <input formControlName="nota2" type="number" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-2">
              <label for="">Nota Parcial 3</label>
              <input formControlName="nota3" type="number" class="form-control" id="" placeholder="">
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
          </form>
    </div>
  </div>
