<div class="card">
    <h5 class="card-header">Baterias</h5>
    
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">Número</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bateria of baterias">
              <ng-container *ngIf="bateria.status == 0">
              <th scope="row">{{bateria.id}}</th>
              <td><a type="button" class="btn btn-info" [routerLink]="['/ondas/',bateria.id]">Adicionar Onda</a></td>
              <td><a type="button" class="btn btn-danger" [routerLink]="['/bateria',bateria.id]">Ver Bateria</a></td>
              <td><a type="button" class="btn btn-warning" [routerLink]="['/winner',bateria.id]">Obter Vencedor</a></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success" (click)="openModal(template)">Criar Bateria</button>
    </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro de baterias</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <div class="col-4 my-1">
          <label class="mr-sm-2" for="">Surfista 1</label>
          <select class="custom-select mr-sm-1" formControlName="surfista1" id="">
            <option selected> </option>
            <option *ngFor="let surfista of surfistas"  value="{{surfista.id}}">{{surfista.nome}}</option>  
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-4 my-1">
          <label class="mr-sm-2" for="">Surfista 2</label>
          <select class="custom-select mr-sm-1" formControlName="surfista2" id="">
            <option selected> </option>
            <option *ngFor="let surfista of surfistas"  value="{{surfista.id}}">{{surfista.nome}}</option>  
          </select>
        </div>
      </div>
      
      <button data-dismiss="#template" type="submit" (click)="onSubmit()" class="btn btn-primary">Criar</button>
    </form>
  </div>
</ng-template>